<app-menu></app-menu>
<div class="container caroussel-home" >
    <ngb-carousel *ngIf="getDonnee">
        <ng-template ngbSlide *ngFor="let moi of getDonnee">
            <div class="caroussel picsum-img-wrapper" style="width: 100%;">
                <img src="{{moi.image}}" alt="" srcset="">
            </div>
            <div class="carousel-caption">
                <h3>{{moi.lieu}}</h3>
            </div>
        </ng-template>
       </ngb-carousel>
</div>


<div class="container">
    <div class="mes-box">

        <div class="tourisme">
            
                <img src="./assets/Images/djenne-mosque.jpg" alt="Tourisme" width="100%" >
           
            <div class="box-description">
                <h1>Tourisme</h1>
                <p>
                    Le tourisme au Mali est un secteur de l'économie qui prend une ampleur ces
                    dernières années. Le nombre de visiteurs est passé de 98 000 en 2002 à 250
                    000 en 2007. Les recettes provenant du secteur touristique sont passées de
                    64,648 milliards de francs CFA en 2001 à 110 milliards de FCFA en 2007 au
                    Mali, selon l'Office du tourisme et de l'hôtellerie (OMATHO), à Bamako1.
                </p>
            </div>
            <div class="boutons-box">
                <button class="btn"><a routerLink="/tourisme"> Découvrir</a></button>
            </div>
        </div>

        <div class="regions">
            
                <img src="./assets/Images/Carte_Malojojojojoj.gif" alt="Tourisme" width="100%">
            
            <div class="box-description">
                <h1>Régions</h1>
                <p>
                    Le Mali, officiellement la République du Mali, est un pays enclavé
                    d'Afrique de l'Ouest. Le Mali est le huitième plus grand pays d'Afrique,
                    avec une superficie de plus de 1 240 000 kilomètres carrés. La population
                    du Mali est de 21,9 millions d'habitants. 67% de sa population était estimée
                    avoir moins de 25 ans en 2017. Le Mali est divisé en huit régions (régions)
                    et un district de la capitale.
                </p>
            </div>
            <div class="boutons-box">
                <button class="btn"><a routerLink="/regions"> Découvrir </a></button>
            </div>
        </div>

    </div>
</div>

<footer style="margin-top: 50px;">
    <div>
        <h2>Tout droit réservé</h2>
    </div>
</footer>