.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
.nav-link{
    color: white;
}  

.nav-item {
  font-weight: 900;
}
 .nav-item .active {
    background-color: white;
    color: #C27E00;
  }
  .nav-item :hover {
    background-color: #fff;
    color: #C27E00;
    font-weight: 900;
  }
  
.dropdown-menu.show {
  text-align: center;
  display: block;
  margin-left: -300%;
  width: 210px;
}