.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
.nav-link{
    color: white;
}  

 .nav-item .active {
    background-color: #FF6B00;
    color: white;
  }
  .nav-item :hover {
    background-color: #FF6B00;
    color: white;
  }