body{
    
    background-image: url('/assets/Images/Inscription.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin: 0px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.principale{
    text-align: center;
}
.principale h1{
color: white;
font-weight: bold;
font-size: 50px;
padding: 5%;
}
input{
    margin: 2%;
    font-size: 25px;
}
.foter-text{
    color: white; font-size: 30px;
    font-weight: bold;
}
.foter-text span a{
text-decoration: none;
color: #FF6B00;
font-weight: bold;

}
.submit-btn{
    background-color: #FF6B00;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.foter-text{
    margin-top: 2%;
        
    }
    .annuler{
        text-align: center;
        color: white;
    }
    .annuler a{
    text-decoration: none;
    color: white;
    }
   
    @media screen and (max-width: 767px) {
       
        .principale{
            width: 100%;
            height: 100vh;
        }
         .champs{
            margin-top: 10%;
                         width: 100%;
            }
            .foter-text{
                margin-top: 25%;     
                }
      }