
<app-menu></app-menu>
 <div class="container contenu">
        <div class="first-section"> 
            <div class="img-region">
                <img src="./assets/Images/Carte_Malojojojojoj.gif" alt="Régions">
            </div>

            <div class="description">
                <p>
                    Le Mali, officiellement la République du Mali, est un pays enclavé
                    d'Afrique de l'Ouest. Le Mali est le huitième plus grand pays d'Afrique,
                    avec une superficie de plus de 1 240 000 kilomètres carrés. La population
                    du Mali est de 21,9 millions d'habitants. 67% de sa population était estimée
                    avoir moins de 25 ans en 2017. Le Mali est divisé en huit régions (régions)
                    et un district de la capitale. Avec la nouvelle disposition administrative, le
                    territoire du Mali comprendra vingt régions plus le District de Bamako qui
                     composera également 10 Communes urbaines au lieu de six (6).
                </p>
            </div>

        </div>

    </div>
<!-- Title -->
    <div class="titre"><h1>Voici la liste des région</h1></div>
    <div class="title-search container">
        <div class="container"><h3>Faite vos Recherches ici</h3></div>
        <div class="btn-search">
            <input type="search" class="btn" placeholder="Recherche...">
        </div>
    </div>
    <!-- Les cardes -->
    
<div class="section-card container">

    <div class="cardes" *ngFor="let regions of lesRegion |paginate:{itemsPerPage: 6, currentPage:page}; let i =index">

        <div class="images-carde">  <img src="../../../assets/Images/{{regions.images}}" alt="Régions"></div>
        
        <div class="title-carde"><h3>{{regions.nomregions}}</h3></div>
        <div class="description-carde"> <p>{{regions.description}}</p></div>
        <div class="bouton-carde"><button class="btn"> <a  [routerLink]="['/details-regions',regions.id_regions]"> Voir plus</a></button></div>
    </div>

  <pagination-controls  previousLabel="Précedent" nextLabel="Suivant" (pageChange)="page=$event"></pagination-controls>

</div>
