<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a routerLink="/accueil" class="active">Acuueil</a>
  <a routerLink="/tourisme">Tourisme</a>
  <a routerLink="/regions">Régions</a>
  <a routerLink="/connexion">Connexion</a>
  <a routerLink="/inscription">Inscription</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<router-outlet></router-outlet>
