<!-- <header>
    <div class="header-container">

        <div class="logo-rond">
            <img src="" alt="logo" width="100px">
        </div>

        <div class="les-mesnus">
            <div class="accueil-menu"><a routerLink="/accueil">Accueil</a> </div>
            <div class="tourisme-menu"> <a href="#">Tourisme</a> </div>
            <div class="region-menu"><a href="#">Régions</a> </div>
            <div class="profil-menu"> <span><a routerLink="/inscription">AC</a> </span></div>
        </div>
    </div>
</header>  -->

  
<app-accueil></app-accueil>
 <app-connexion></app-connexion>
 
  
<router-outlet></router-outlet>
