 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>

<body>

    <div class="principale">
        <h1>Connexion</h1>
        <form  *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="champs1 row ">
                <div class="col-md-3"></div>
                <div class="col-md-6 my-3">
                    <input placeholder="Nom d'utilisateur"  type="text" class="form-control" 
                    name="username"
                     [(ngModel)]="form.username"
                      required
                       #username="ngModel"
                       >
                </div>
                 <div class="col-md-3"></div>
            </div>

            <div
            class="alert alert-danger col-md-3"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
           Nom d'utilisateur est obligatoire !
          </div>

            <div class="champs row">
                <div class="col-md-3"></div>
                <div class="lesPasses col-md-6 my-3">
                    <input  type="password" placeholder="Mot de passe" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"  #password="ngModel">
                </div>
                <div class="col-md-3"></div>
               
            </div>

            <div
            class="alert alert-danger  col-md-3"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors">Mot de passe est obligatoire !</div>
            <div *ngIf="password.errors">
             6 caractère au minimum
            </div>
          </div>


              <div class="btn-submit">
                <button class="btn btn-primary btn-block">
                  Connexion
                </button>
            </div>

            <div class="alert alert-danger errorMessages" *ngIf="f.submitted && isLoginFailed">
            Connexion impossible : {{ errorMessage }}
          </div>

         

        </form>
          
        <div class="foter-text">
            <h2>Vous n'avez pas de compte ? <span><a routerLink="/inscription">Inscription</a></span></h2>
        </div>
    </div>

    <div class="annuler"> <button class="btn btn-danger"><a routerLink="/accueil">Annuler</a></button></div>

</body>

</html> 

<!--Trigger-->