body{
    
    background-image: url('/assets/Images/Inscription.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.principale{
    text-align: center;
    /* width: 50%; */
}

.alert{
    align-items: center;
    margin-left: 26%;
}
.principale h1{
color: white;
font-weight: bold;
font-size: 50px;
padding: 5%;
}
input{
    margin: 2%;
    font-size: 25px;
}
.foter-text{
    color: white; font-size: 30px;
    font-weight: bold;
}
.foter-text span a{
text-decoration: none;
color: #FF6B00;
font-weight: bold;

}
.submit-btn{
    background-color: #FF6B00;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.foter-text{
margin-top: 2%;
    
}
.errorMessages{

    color: red;
    font-weight: bold;
    width: 50%;
    /* font */
}

.annuler{
    text-align: center;
    color: white;
}
.annuler a{
text-decoration: none;
color: white;
}
.btn-block{
    background-color: #FF6B00;
    border: none;font-weight: bold;
}

/* =======================================================================  MEDI QUERY MOBILE SCREEN +++++++++++++++++++++++ */

@media screen and (max-width: 767px) {

    body{
        width: 100%;
        height: 100vh;  
    }
    .cont{
        margin-top: 30% ;
    }
    input{
        margin: 0%;
        font-size: 25px;
    }
    .foter-text{
        margin-top: 25%;     
        }
}