 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>

<body>

    <div class="principale">
        <h1>Connexion</h1>
        <form action="#" method="post" class="container cont" [formGroup]="formGroupe" (ngSubmit)="loginPricess()">

            <div class="champs1 row ">
                <div class="col-md-3"></div>
                <div class="col-md-6 my-3">
                    <input type="text" name="username" id="username" placeholder="username" formControlName="username"  class="form-control ">
                </div>
                 <div class="col-md-3"></div>
            </div>

            <div class="champs row">
                <div class="col-md-3"></div>
                <div class="lesPasses col-md-6 my-3">
                    <input type="password" name="password" id="passe1" placeholder="Mot de passe" formControlName="password"  class="form-control">
                </div>
                <div class="col-md-3"></div>
               
            </div>

            <div class="btn-submit">
                <input type="submit" value="Se connecter" name="connexion" class="btn submit-btn">
            </div>

        </form>
        <div class="foter-text">
            <h2>Vous n'avez pas de compte ? <span><a routerLink="./inscription">Inscription</a></span></h2>
        </div>
    </div>


</body>

</html> 

<!--Trigger-->