.first-section{
    margin-top: 13%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* overflow-y: hidden;    */
}

.first-section img{
    border-radius: 10px 10px;
    /* width: 100%; */
    /* object-fit: contain; */
}

.first-section p{
    text-align: justify;
    padding: 5%; 
   line-height: 35px;
   align-content: center;
}

/* SECTION LES TROIS BOX */
.details-box{
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    border-radius: 10%;
    grid-template-columns: auto auto auto;
    gap: 20px;
    color: #5B7CFD;   
}

.region-statistique h3{
    font-weight: 900;
}

.region-statistique{
    text-align: center;
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.20);
    padding: 2%;
}

/* SECTION DE BARE D'HABITATIONS */
.titre{
    text-align: center;font-weight: bold;
    color: #5B7CFD; margin-top:3%;
}
.title-search{
    display: grid;
    grid-template-columns:  500px 1fr;
    justify-content: space-around;
    background-color: #5B7CFD;
    padding: 1%; border-radius: 10px;
}
.title-search h3{
    color: white;
    font-weight: bold;
}
.btn-search input{
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
}
.btn-search{
    display: flex;
    justify-content: flex-end;
    /* background-color: #fff; */
}

/* ====================================SECTION CONTACT */
.btn-contact{
    background-color: #FF6B00;
    color: white;
    font-weight: 500; 
    width: 30%;
    padding: 2%;
}


/* =======================================================================  MEDI QUERY MOBILE SCREEN +++++++++++++++++++++++ */

@media screen and (max-width: 767px) {

    .first-section{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        
        
    }
    .first-section img{
        border-radius: 10px 10px;
        width: 100%;
        /* object-fit: contain; */
    }


/* SECTION LES TROIS BOX */
.region-statistique h3{
    text-align: center;
    font-size: 15px;
}


    /* SECTION BARRE DE RECHERCHE */
    .title-search{
        display: flex;
        flex-direction: row;
        /* margin:2% ; */
    }
    .title-search h3{
       font-size: 15px;
      text-align: center;
    }
    

    /* SECTION CARDES */
    .section-card{
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* grid-row: 2; */
    }
/* 
    .first-section p{
       
    } */
}