<app-menu></app-menu>
    <div class="container contenu">

        <div class="bouton-en-haut">
            <div class="nomRegion">
                <button class="btn">{{UneRegion.nomregions}}</button>
            </div>
            <div class="retour">
                <button class="btn" routerLink="/regions">Retour</button>
            </div>
        </div>

        <div class="first-section"> 
            <div class="img-region">
                <img src="./assets/Images/{{UneRegion.images}}" alt="Régions" width="400px" height="300px">
            </div>

            <div class="description">
                <p>
                   {{UneRegion.description}}
                </p>
            </div>

        </div>

    </div>
<!-- LES BOX DE STATISTIQUES -->
    <div class="details-box container" >
        <div class=" region-statistique superficie-box">
                <h3>Superficie</h3>
               <span > <i class="fa fa-area-chart fa-2x" aria-hidden="true"></i>
               </span>
                <h3> {{UneRegion.superficieregion}}</h3>
        </div>

        <div class=" region-statistique superficie-box">
                <h3>Langue</h3>
            <span > <i class="fa fa-language fa-2x"></i></span>
                <h3>{{UneRegion.languemregion}}</h3>
        </div>

        <div class=" region-statistique superficie-box">
            <h3>Activité</h3>
        <span > <i class="fa-solid fa-home fa-2x"></i></span>
            <h3>{{UneRegion.activiterregion}}</h3>
        </div>

    </div>


    <!-- SECTION DE L'HABITATION -->

    <div class="title-search container">
        <div class="container"><h3>Habitation de la régions</h3></div>
        <div class="btn-search">
            <input type="search" class="btn" placeholder="Recherche...">
        </div>
    </div>
<!-- TABLEAU -->
    <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Année</th>
                <th scope="col">habitants</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let habitant of habitation | paginate:{itemsPerPage: 5, currentPage:pages}; let i =index">
                <td scope="row">{{i+1}}</td>
                <td>{{habitant.annee}}</td>
                <td>{{habitant.nbre_population}} hbts</td>
                <td></td>
              </tr>
              
            </tbody>
          </table>
          
          <pagination-controls previousLabel="Précedent" nextLabel="Suivant" (pageChange)="pages=$event"></pagination-controls>

    </div>

<!-- ================= Contact form -->
<div class="container">
    <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4" style="color: #5B7CFD;">Laissez un commentaire</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Avez-vous des questions? N'hésitez pas à nous contacter directement. Notre équipe reviendra vers vous dans
        peu d'heures pour vous aider.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" (ngSubmit)="onSubmit()">

                              <!--Grid row-->

              <div *ngIf="invalide" class="err" role="alert" style="text-align: center; color: red;font-weight: bold;">
                 <h2>{{invalide}}</h2>
              </div>
            <div *ngIf="valide" role="alert" style="text-align: center; color: green;font-weight: bold;">
                <p>{{valide}}</p>
             </div> 

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Votre message</label>
                            <textarea type="text"  required name="description" rows="2" class="form-control md-textarea" [(ngModel)]="commentaire.description"></textarea>
                            <br>
                        </div>

                    </div>
                </div>
                <!--Grid row-->


             <div class="text-center text-md-left">
                <input class="btn btn-contact" type="submit" value="Envoyer" >
            </div>
            </form>

           
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <div class="lesCommentaires col-md-6" *ngIf="nbreCommentaire != 0" >
            <h4><span>{{nbreCommentaire}}</span> commentaires au total</h4>
            <div style="height: 300px; overflow: scroll;border: 1px solid;box-shadow: inset 0 0 10px #f8a100;">
                <div class="poster" *ngFor="let Commentaires of commentaires.slice().reverse()" >
                    <div class="users col-md-3" >
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar" width="50px" height="50px">
                        <h3>{{Commentaires.user.username}}</h3>
                    </div>
                    <div>
                        <h4>{{Commentaires.objet}}</h4>
                        <p style="overflow-wrap: anywhere;">{{Commentaires.description}}</p>
                    </div>
    
                </div>
            </div>
      
            
        </div>
        
        <div class="col-md-6" style="text-align: center;" *ngIf="nbreCommentaire == 0"><h5>Pas de commentaire</h5></div>

    </div>

    <!--Grid column-->
    <!-- <div class="col-md-12 text-center">
        <ul class="list-unstyled mb-0">
            <li><i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Mali-Bamako Aci-2000</p>
            </li>

            <li><i class="fas fa-phone-square-alt fa-2x"></i>
                <p>+ 223 70 44 67 11</p>
            </li>

            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                <p><a href="mailto:coulibalyadamabekaye03@gmail.com">coulibalyadamabekaye03@gmail.com</a></p>
            </li>
        </ul>
    </div> -->
    <!--Grid column-->

</section>
<!--Section: Contact v.2-->
</div>

<!--  -->
<app-footer></app-footer>