<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details-région</title>
</head>
<body>
    <div class="container contenu">
        <div class="first-section"> 
            <div class="img-region">
                <img src="./assets/Images/Carte_Malojojojojoj.gif" alt="Régions">
            </div>

            <div class="description">
                <p>
                    Le Mali, officiellement la République du Mali, est un pays enclavé
                    d'Afrique de l'Ouest. Le Mali est le huitième plus grand pays d'Afrique,
                    avec une superficie de plus de 1 240 000 kilomètres carrés. La population
                    du Mali est de 21,9 millions d'habitants. 67% de sa population était estimée
                    avoir moins de 25 ans en 2017. Le Mali est divisé en huit régions (régions)
                    et un district de la capitale. Avec la nouvelle disposition administrative, le
                    territoire du Mali comprendra vingt régions plus le District de Bamako qui
                     composera également 10 Communes urbaines au lieu de six (6).
                </p>
            </div>

        </div>

    </div>
<!-- LES BOX DE STATISTIQUES -->
    <div class="details-box container">
        <div class=" region-statistique superficie-box">
                <h3>Superficie</h3>
               <span style="background-color: brown;"> <i class="fa-solid fa-home"></i></span>
                <h3>120090 km²</h3>
        </div>

        <div class=" region-statistique superficie-box">
                <h3>Langue</h3>
            <span style="background-color: brown;"> <i class="fa-solid fa-home"></i></span>
                <h3>Bambara</h3>
        </div>

        <div class=" region-statistique superficie-box">
            <h3>Activité</h3>
        <span style="background-color: brown;"> <i class="fa-solid fa-home"></i></span>
            <h3>Commerce</h3>
        </div>

    </div>


    <!-- SECTION DE L'HABITATION -->

    <div class="title-search container">
        <div class="container"><h3>Habitation de la régions</h3></div>
        <div class="btn-search">
            <input type="search" class="btn" placeholder="Recherche...">
        </div>
    </div>
<!-- TABLEAU -->
    <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Année</th>
                <th scope="col">Nombre d'habitants</th>
                <th scope="col">Densité</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2022</td>
                <td>200.500</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2021</td>
                <td>300.222</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2019</td>
                <td>600.700</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>


</body>
</html>