<app-menu></app-menu>
    <div class="container contenu">
        <div class="first-section"> 
            <div class="img-region">
                <img src="./assets/Images/Carte_Malojojojojoj.gif" alt="Régions">
            </div>

            <div class="description" *ngFor="let Region of UneRegion">
                <p>
                   {{Region.id_regions}}
                </p>
            </div>

        </div>

    </div>
<!-- LES BOX DE STATISTIQUES -->
    <div class="details-box container" >
        <div class=" region-statistique superficie-box" *ngFor="let Region of UneRegion">
                <h3>Superficie</h3>
               <span > <i class="fa fa-area-chart fa-2x" aria-hidden="true"></i>
               </span>
                <h3> {{Region.superficieregion}}</h3>
        </div>

        <div class=" region-statistique superficie-box">
                <h3>Langue</h3>
            <span > <i class="fa fa-language fa-2x"></i></span>
                <h3>Bambara</h3>
        </div>

        <div class=" region-statistique superficie-box">
            <h3>Activité</h3>
        <span > <i class="fa-solid fa-home fa-2x"></i></span>
            <h3>Commerce</h3>
        </div>

    </div>


    <!-- SECTION DE L'HABITATION -->

    <div class="title-search container">
        <div class="container"><h3>Habitation de la régions</h3></div>
        <div class="btn-search">
            <input type="search" class="btn" placeholder="Recherche...">
        </div>
    </div>
<!-- TABLEAU -->
    <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Année</th>
                <th scope="col">Nombre d'habitants</th>
                <th scope="col">Densité</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2022</td>
                <td>200.500</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2021</td>
                <td>300.222</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2019</td>
                <td>600.700</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>

<!-- ================= Contact form -->
<div class="container">
    <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4" style="color: #5B7CFD;">Laissez un commentaire</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Avez-vous des questions? N'hésitez pas à nous contacter directement. Notre équipe reviendra vers vous dans
        peu d'heures pour vous aider.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                              <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Objet</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                            
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Votre message</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <br>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-contact" onclick="document.getElementById('contact-form').submit();">Envoyer</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Mali-Bamako Aci-2000</p>
                </li>

                <li><i class="fas fa-phone-square-alt fa-2x"></i>
                    <p>+ 223 70 44 67 11</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p><a href="mailto:coulibalyadamabekaye03@gmail.com">coulibalyadamabekaye03@gmail.com</a></p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
</div>
