<app-menu></app-menu>

    

    <!-- TABLEAU -->
    <div class="container body">
      <h2>Ici la listes des Régions du Mali</h2>

<div class="block">
  <div class="bx pays">
      <h3>Pays</h3>
  </div>
  <div class="bx nombreRegions">
    <h3>Pays</h3>
  </div>
  <div class="bx nombreUtilisateur">
    <h3>Pays</h3>
  </div>
</div>



        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Noms</th>
                <th scope="col">Superficie </th>
                <th scope="col">Activité</th>
                <th scope="col">Langues</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let regions of lesRegions">
                <th scope="row">{{regions.id_regions}}</th>
                <td>{{regions.nomregions}}</td>
                <td>{{regions.superficieregion}} km²</td>
                <td>{{regions.activiterregion}}</td>
                <td>{{regions.languemregion}}</td>
                <td>
                    <div class="icones">
                        <div style="color: green;"> <i class="fa-solid fa-circle-plus"></i> </div>
                        <div style="color: #FF6B00;"> <i class="fa-solid fa-pen-to-square"></i> </div>
                        <div style="color: red;"> <i class="fa-solid fa-trash"></i> </div>
                    </div>
                </td>
              </tr>
          
            </tbody>
          </table>
    </div>