<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablrau de Board</title>
</head>
<body>

    <h1>Ici la listes des Régions du Mali</h1>

    <!-- TABLEAU -->
    <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Année</th>
                <th scope="col">Nombre d'habitants</th>
                <th scope="col">Densité</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2022</td>
                <td>200.500</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2021</td>
                <td>300.222</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2019</td>
                <td>600.700</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>

    
</body>
</html>
